@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: url(./—Pngtree—digital\ retailing\ illustration\ laptop\ keyboard_8835213.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contener{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    width: 900px;
    height: 450px;
    box-shadow: 0px 0px 14px 0px rgba(131, 142, 153, 0.75);
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
}
.contener .block__1{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 20px ;
    overflow: scroll;
}
.parti__inp_block_1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
}
.form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    margin: 20px 0;
}

.parti__inp_block_1 .inpt {
    position: relative;
}
.parti__inp_block_1 input:not([type="checkbox"]) {
    padding: 20px;
    border-radius: 30px;
    border: 1px solid;
    font-size: 1rem;
    outline-color: #07a39e;
    width: 100%;
    height: 50px;
}
.icon_user {
    position: absolute;
    top: 12px;
    right: 15px;
}
.icon_lock {
    position: absolute;
    top: 12px;
    right: 15px;
}
.checkbox_inp {
    display: flex;
    justify-content: start;
    gap: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
button {
   width: 200px;
   padding: 10px;
   border-radius: 30px;
   font-size: 1.2rem;
   color: #fff;
   background-color: #07a39e;
   border: none;
   font-weight: 600;
   margin-bottom: 20px;
   cursor: pointer;
   margin-top: 20px;
}
button:hover{
    background-color: #079893;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #211b1b;
}
.block__2 {
    position: relative;    
    height: 100%;
    width: 100%;
    z-index: 1;
    background: url(./pexels-pixabay-264547.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block__2  .center{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px 20px;
    gap: 20px;
    color: #fff;
    backdrop-filter: blur(5px);
}
.block__2 .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    animation: logo 4s infinite ease-in-out;
}
@keyframes logo {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
}
.color {
    color: #07a39e;
}
.c {
    font-family: "Italianno", cursive;
}
.pargph a {
    text-decoration: none;
}
.pargph a:hover {
    text-decoration: underline;
}
.pargph {
    line-height: 2;
}
.block__2 h2 {
    font-family: "Italianno", cursive;
}

.icon_1 {
    position: absolute;
    right: 20px;
    top: 10px;
}
.icon_2 {
    position: absolute;
    right: 20px;
    top: 15px;
}
.icon_3 {
    position: absolute;
    right: 20px;
    top: 13px;
}
.icon_4 {
    position: absolute;
    right: 20px;
    bottom: 15px;
} 

/* Media query pour écran ≤ 425px */
@media screen and (max-width: 425px) {
    .contener {
        grid-template-columns: 1fr;
        width: 400px;
        height: auto;
        margin: 20px;
    }

    .contener .block__1,
    .contener .block__2 {
        /* width: 100%; */
        height: auto;
    }
    .block__1{
        order: 1;
    }

    .block__2 {
        min-height: 300px;
    }
    .block__2 .center{
        gap: 10px;
        padding: 10px;
    }
    h2 {
        font-size: 1.5rem;
    }
    .block__2 .logo{
        width: 90px;
        height: 90px;
        font-size: 1.5rem;
    }
    .form_grid {
        grid-template-columns: 1fr;
    }
    button {
        width: 150px;
        font-size: 1rem;
        margin: 20px;

    }
    .pargph {
        line-height: 1.5;
    }
}
