*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/WhatsApp\ Image\ 2025-11-14\ at\ 17.20.05.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
/* ------------------------------------------------------------------ */
/* flex-box */
/* ------------------------------------------------------------------ */
.z-index-top{
    z-index: 100;
}
.z-index-min{
    z-index: -100;
}
.z-index-moyenne{
    z-index: 0;
}
.d-flex{
    display: flex;
}
.fd-column{
    flex-direction: column;
}
.fd-row{
    flex-direction: row;
}
.ai-center{
    align-items: center;
}
.ai-start{
    align-items: flex-start;
}
.ai-end{
    align-items: flex-end;
}
.jc-center{
    justify-content: center;
}
.jc-start{
    justify-content: flex-start;
}
.jc-around{
    justify-content: space-around;
}
.jc-between{
    justify-content: space-between;
}
.jc-evenly{
    justify-content: space-evenly;
}
.jc-end{
    justify-content: flex-end;
}
/* ------------------------------------------------------------------ */
/* grid */
/* ------------------------------------------------------------------ */
.d-grid{
    display: grid;
}
.js-center{
    justify-self: center;
}
.js-start{
    justify-self: flex-start;
}
.js-end{
    justify-self: flex-end;
}
.as-center{
    align-self: center;
}
.as-start{
    align-self: flex-start;
}
.as-end{
    align-self: flex-end;
}
.gt-columns-2{
    grid-template-columns: 1fr 1fr;
}
.gt-columns-4{
    grid-template-columns: repeat(4, 1fr);
}
.gt-columns-1-5{
    grid-template-columns: 1fr 4fr;
}
.gt-columns-3{
    grid-template-columns: 1fr 1fr 1fr;
}

/* ------------------------------------------------------------------ */
/* flex */
/* ------------------------------------------------------------------ */
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}
.flex-5{
    flex: 5;
}
.flex-6{
    flex: 6;
}
.flex-7{
    flex: 7;
}
.flex-8{
    flex: 8;
}
.flex-9{
    flex: 9;
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.position-fixed{
    position: fixed;
}
.top-0{
    top: 0;
}
.top-2{
    top: -2;
}
.right-0{
    right: 0;
}
.top-200px{
    top: 200px;
}
.left-0{
    left: 0;
}
.left-40px{
    left: 40px;
}

/* ------------------------------------------------------------------ */
/* color */
/* ------------------------------------------------------------------- */
.color-white{
    color: white;
}
.color-white2{
    color: rgba(248, 246, 246, 0.7);
}
.shadow-white{
     box-shadow: 1px 1px 1px 1px rgb(153, 225, 169);
}

.color-black{
    color: black;
}
.color-yellow{
    color: yellow;
}
.color-secondaire{
    color: #16A49F;
}
.bg-white{
    background-color: white;
}
.bg-secondaire{
    background-color: #16A49F;
}
.bg-principal{
    background-color: #F5F5F5;
}
.bg-blue{
    background-color: blue;
}
.bg-yellow{
    background-color: yellow;
}
.bg-none{
    background-color: transparent;
}
.color-black{
    color: black;
}
.color-blue{
    color: blue;
}
.color-maroon{
    color: rgb(77, 6, 6);
}
.color-or{
    color: rgb(233, 143, 8);
}

/* ------------------------------------------------------------------- */
/* font-size */
/* ------------------------------------------------------------------ */
.size-12px{
    font-size: 12px;
}
.size-14px{
    font-size: 14px;
}
.size-16px{
    font-size: 16px;
}.size-18px{
    font-size: 18px;
}
.size-20px{
    font-size: 20px;
}
.size-22px{
    font-size: 22px;
}
.size-24px{
    font-size: 24px;
}
.size-26px{
    font-size: 26px;
}
.size-28px{
    font-size: 28px;
}
.size-30px{
    font-size: 30px;
}
.size-32px{
    font-size: 32px;
}
.size-34px{
    font-size: 34px;
}
.size-36px{
    font-size: 36px;
}
.size-38px{
    font-size: 38px;
}
.size-40px{
    font-size: 40px;
}
.size-50px{
    font-size: 50px;
}
.size-60px{
    font-size: 60px;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 600;
}
.text-align-justify{
    text-align: justify;
}

/* ------------------------------------------------------------------ */
/* padding */
/* ------------------------------------------------------------------ */
.padding-10px{
    padding: 10px;
}
.padding-15px{
    padding: 15px;
}
.padding-top-bottom-20px{
    padding: 20px 0;
}
.margin-top-180px{
    margin-top: 180px;
}
.margin-left-right-20px{
    margin-left: 20px;
    margin-right: 20px;
}
.padding-20px{
    padding: 20px;
}
.padding-30px{
    padding: 30px;
}
.padding-40px{
    padding: 40px;
}
.padding-50px{
    padding: 50px;
}
.padding-left-none{
    padding-left: none;
}
.padding-left-auto{
    padding-left: auto;
}
.padding-right-none{
    padding-right: none;
}
.padding-right-auto{
    padding-right: auto;
}

.padding-left-right-none{
    padding-left: none;
    padding-right: none;
}

/* margin */
/* ------------------------------------------------------------------ */
/* gap */
/* ------------------------------------------------------------------ */
.gap-10{
    gap: 10px;
}
.gap-10pc{
    gap: 10%;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}
.gap-50{
    gap: 50px;
}
/* ------------------------------------------------------------------ */
/* width */
/* ------------------------------------------------------------------ */
.width-100vw{
    min-width: 100vw;
}
.width-10pc{
    width: 10%;
}
.width-20pc{
    width: 20%;
}
.width-30pc{
    width: 30%;
}
.width-40pc{
    width: 40%;
}
.width-50pc{
    width: 50%;
}
.width-60pc{
    width: 60%;
}
.width-70pc{
    width: 70%;
}
.width-80pc{
    width: 80%;
}
.width-90pc{
    width: 90%;
}
.width-100pc{
    min-width: 100%;
    overflow: hidden;
}
/* -------------------- */
.height-100vh{
    min-height: 100vh;
}
.width-5px{
    width: 5px;
}
.width-10px{
   width: 10px;
}
.width-15px{
    width: 15px;
}
.width-20px{
    width: 20px;
}
.width-30px{
    width: 30px;
}
.width-40px{
    width: 40px;
}
.width-50px{
    width: 50px;
}
.width-60px{
    width: 60px;
}
.width-70px{
    width: 70px;
}
.width-80px{
    width: 80px;
}
.width-90px{
    width: 90px;
}
.width-100px{
    width: 100px;
}
.width-150px{
    width: 150px;
}
.width-200px{
    width: 180px;
}
.width-250px{
    width: 250px;
}
.width-300px{
    width: 300px;
}
.width-350px{
    width: 350px;
}
.width-400px{
    width: 400px;
}
.width-450px{
    width: 450px;
}
.width-400px{
    width: 400px;
}
.width-450px{
    width: 450px;
}
.width-500px{
    width: 500px;
}
.width-600px{
    width: 600px;
}
.width-700px{
    width: 700px;
}
.width-800px{
    width: 800px;
}
.width-900px{
    width: 900px;
}
.width-1000px{
    width: 1000px;
}
/* ------------------------------------------------------------------ */
/* heght */
/* ------------------------------------------------------------------ */
.height-100vh{
    height: 100vh;
}
.height-80vh{
    height: 80vh;
}
.height-70vh{
    height: 70vh;
}
.height-50vh{
    height: 50vh;
}
.height-30vh{
    height: 30vh;
}
.height-10pc{
    height: 10%;
}
.height-20pc{
    height: 20%;
}
.height-30pc{
    height: 30%;
}
.height-40pc{
    height: 40%;
}
.height-50pc{
    height: 50%;
}
.height-60pc{
    height: 60%;
}
.height-70pc{
    height: 70%;
}
.height-80pc{
    height: 80%;
}
.height-90pc{
    height: 90%;
}
.height-100pc{
    min-height: 100%;
}
/* -------------------- */
.height-5px{
    height: 5px;
}
.height-10px{
    height: 10px;
}
.height-15px{
    height: 15px;
}
.height-20px{
    height: 20px;
}
.height-30px{
    height: 30px;
}
.height-40px{
    height: 40px;
}
.height-50px{
    height: 50px;
}
.height-60px{
    height: 60px;
}
.height-70px{
    height: 70px;
}
.height-80px{
    height: 80px;
}
.height-90px{
    height: 90px;
}
.height-100px{
    height: 100px;
}
.height-150px{
    height: 150px;
}
.height-200px{
    height: 200px;
}
.height-250px{
    height: 250px;
}
.height-300px{
    height: 300px;
}
.height-350px{
    height: 350px;
}
.height-400px{
    height: 400px;
}
.height-450px{
    height: 450px;
}
.height-400px{
    height: 400px;
}
.height-450px{
    height: 450px;
}
.height-500px{
    height: 500px;
}
.height-600px{
    height: 600px;
}
.height-700px{
    height: 700px;
}
.height-800px{
    height: 800px;
}
.height-900px{
    width: 900px;
}
.height-1000px{
    height: 1000px;
}
/* ------------------------------------------------------------ */
/* Border */
/* ------------------------------------------------------------ */
.border-none{
    border: none;
    outline: none;
}
.border-raduis-gray{
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 10px;
}
.border-raduis-20{
    border: solid 1px #16A49F;
    border-radius: 20px;
}
.raduis-10{
    border-radius: 10px;
}
.raduis-20{
    border-radius: 20px;
}
.border-raduis-white{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}
.border-presentation{
    border: solid 1px #16A49F; 
    border-radius: 100% ;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 2px rgba(150, 232, 177, 0.3);
}
.raduis-50pc{
    border-radius: 50%;
}
.raduis-40px{
    border-radius: 40px;
}
.circle{
    border-radius: 100%;
}
/* ---------------------------------------------------------- */
/* List */
/* ---------------------------------------------------------- */
.list-style-none{
    list-style: none;
}
/* ---------------------------------------------------------- */
/* Lien */
/* ---------------------------------------------------------- */
.cursor-pointer{
    cursor: pointer;
}

.lien-style-none a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
span{
    transition: 1s;
}
a{
    transition: 0.5s;
}
input ~ a:hover{
    background-color: #16A49F;
    color: white;
    border-radius: 10px;
    font-weight: 700;

}
input:checked ~ a{
    padding: 10px;
    background-color: #16A49F;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    scale: 1.03;
}
img{
    width: 50px;
    height: 20px;
    object-fit: cover;

}
.hr{
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}
header{
    width: calc(100vw - 40px);
}
.after-none{
    display: flex;
}
.menu-mobile{
    display: none;
}
.offre-mobile{
    display: none;
}
.filter{
    background-color: rgba(76, 73, 70, 0.8);
    backdrop-filter: blur(2px);
}
.filter2{
    background-color: rgba(11, 11, 11, 0.6);
    backdrop-filter: blur(4px);
}
.pop{
    width: clamp(200px, 80%, 600px);
    height: auto;


}
#profil-pop{
    display: none;
}
#panier-pop{
    display: none;
}
#panier-pop:target{
    display: flex;
}
#profil-pop:target{
    display: flex;
}
.presentation{
    background-image: url(../../img/accueil_1.jpg);
    background-size:  cover;
    background-position: center;
}
.rond-vert{

}
/* -------------------Panier------------------------------ */
.panier {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panier a {
    text-decoration: none;
    color: #16A49F;
    font-weight: 700;
    font-size: 30px;
}

.card-R h1 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    color: #16A49F;
}

.produit {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.info-produit li {
    list-style: none;
}

.images {
    height: 150px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #e2d4c0;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    line-height: 26px;
}

.details h2 {
    font-size: 20px;
    color: #333;
}

.prix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
}

.number input {
    outline: none;
    width: 80px;
    padding: 6px;
    border-radius: 6px;
}

.price {
    font-weight: bold;
}

.delete {
    color: red;
    cursor: pointer;
    font-size: 14px;
}

.delete:hover {
    text-decoration: underline;
}

/* TOTAL  */
.prix-global {
    margin: 30px 0;
}

.montant {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.prix-en-gras {
    font-weight: 700;
}

/*  BOUTONS*/
.commande input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.valider {
    color: white;
    border: none;
}

.valider:hover {
    background-color: #16A49F;
}

.achats {
    color: #16A49F;
}

.achats:hover {
    background-color: #daf8f7;
}


/* ---------------------------------------------------------*/
/* ------------------- Testimoniale------------------------- */

/* --------------------------------------------------------- */
@media screen and (max-width: 1555px) {
    .gt-columns-2{
        grid-template-columns: 1fr;
        row-gap: 0;
    }
    .gt-columns-1-5{
        display: flex;
        flex-direction: column-reverse;
    }
    
    
    
}

@media screen and (max-width: 825px) {
    .after-none{
        display: none;
    }
    .gt-columns-4{
        grid-template-columns: 1fr 1fr;
    }
    .gt-columns-4:nth-child(1){
        flex: 2;
    }

    .scroll-x{
        overflow-x: scroll;
    }
    
}
@media screen and (max-width: 768px) {
    .mobile-none{
        display: none;
    }
    .menu-mobile{
        display: flex;
    }
    .section2{
        flex-direction: column;
    }
    .section2 .jc-end{
        justify-content: space-between;
    }
    .gap-10pc{
        gap: 10px;
    }
    
    
}
@media screen and (max-width: 500px) {
   .offre{
    display: none;
   }
   .offre-mobile{
    display: flex;
   }
    
}
@media screen and (max-width: 400px) {
  .none-400{
    display: none;
  }
  .size-30px{
    font-size: 22px;
  }
    
}



